* {
    box-sizing: border-box;
}
body { 
    justify-content: center;
    align-items: center;
    height: l00vh;
    margin: 0;
}
header {
    background-color: hsl(0, 0%, 83%);
    text-align: center;
    padding: 20px;
}
.main {
    padding: 20px;
    margin-top: 50px;
}
.html-image {
    width: 100px;
    height: auto;
}
.scroll-text {
    overflow: hidden;
    white-space: nowrap;
    display: block;
    font-size: 18px; /* Reduced font size */
    font-weight: bold;
    color: #333;
    animation: scroll-left 10s linear infinite;
}

@keyframes scroll-left {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}

.navbar {
    background-color: hsl(0, 0%, 35%);
    height: 50px;
}
.navbar::after {
    content: "";
    display: table;
    clear: both;
}
.navbar a {
    color: antiquewhite;
    width: 20%;
    float: left;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}
aside {
    width: 40%;
    float: left;
    padding: 10px;
}
section {
    width: 40%;
    float: left;
    padding: 10px;
}
article {
    width: 20%;
    float: left;
    padding: 10px;
}
footer {
    clear: both;
    background-color: hsl(0, 0%, 83%);
    text-align: center;
    padding: 20px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.btn-social {
    position: relative;
    width: 50px;
    height: 50px;
    font-size: 24px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: 0.3s all ease;
}
.btn-social:hover {
    transform: scale(1.05);
}
.soc-label {
    position: absolute;
    top: -20%;
    left: 50%;
    transform: translate(-50%);
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
    opacity: 0;
    transition: all 0.3s ease;
}
.btn-social:hover .soc-label {
    opacity: 1;
    top: -32px;
}
.fb {
    background-color: #3b5993;
    color: white;
}
.ig {
    background-color: #e4405f;
    color: white;
}
.in {
    background-color: #0077b5;
    color: white;
}
@media screen and (max-width: 600px) {
    aside, section, article {
        width: 100%;
        float: none;
        padding: 10px;
    }
    .navbar a {
        display: block;
        width: 100%;
        text-align: center;
    }
}
